Binaries/*
DerivedDataCache/*
Intermediate/*
Plugins/*/Binaries/*
Plugins/*/Intermediate/*
Saved/*

*.sln
.vs/*

Content/Recordings/*
Content/UserInterface/*
Content/VoxelVideos/*
Content/Maps/410Albany/*
Content/Maps/VRPowhiri/Assets/cleaned_marae.uasset

WindowsNoEditor/*